body {
}

div {
  background-color: #c9f44d;
  margin: 20px;
  padding: 20px;
  width: 1030px;
  border: 5px solid #273208;
  border-bottom-right-radius: 250px;
}
h1 {
  color: #273208;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

img {
  display: block;
  height: 500px;
  width: 990px;
  border-bottom-right-radius: 210px;
  margin: 20px;
}
